<html>

<head>
    <link rel="stylesheet" href="/css/students_list.css">
</head>
<body>
    <div id="student-table">

    <table border="1">
        <thead>
            <tr>
                <th rowspan="2">No.</th>
                <th rowspan="2">Name</th>
                <th rowspan="2">College</th>
                <th rowspan="2"> Email </th>
                <th colspan="3">Course scores</th>
                <th rowspan="2">Status</th>
            </tr>
            <tr>
                <td class="th">DSA</td>
                <td class="th">WebD</td>
                <td class="th">React</td>
            </tr>
        </thead>
        
       <tbody>
        <% let size=1; %>
            <% for(let student of students){ %>
                <tr>
                    <td>
                        <%= size++ %>
                    </td>
                    <td>
                        <%= student.name %>
                    </td>
                    <td>
                        <%= student.college %>
                    </td>
                    <td>
                        <%= student.email %>
                    </td>
                    <td>
                        <%= student.dsa_score %>
                    </td>
                    <td>
                        <%= student.Webd_score %>
                    </td>
                    <td>
                        <%= student.react_score %>
                    </td>
                    <td >
                        <div class="placement-status" data-id="change-status-<%=student._id %>" > <%= student.placement_status %></div>
                        <div class="change-status" id="change-status-<%=student._id %>"></div>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
    </div>
    <script src="/js/students_list.js"></script>
    <script>
let studentsArr =$('.placement-status');
for(let elm of studentsArr){
    new Students(elm);
}
    </script>
</body>

</html>
