<html>
    <head>
    <link rel="stylesheet" href="/css/students_in_interview.css">
    
    </head>
    <body>
        <div id="student-interview">
           
        <table  border="3">

            <thead>
                <tr>
                    <th colspan="3">Company: &nbsp;<%=interviews.company%></th>
                    <th>Result</th>
                </tr>
            
            </thead>
        
            <tbody>
                <% for(student of interviews.student){ %>
            <tr>
                <td>
                    <%= student.name %>
                </td>
                <td>
                    <%= student.college %>
                </td>
                <td>
                    <%= student.email %>
                </td>
                <td id="interview-result" class="interview-result" data-id="<%= student._id %>">
                    <% let result_found=false;%>
                    <% for(result of student.interview_result){ %>
                        <% if(interviews._id.equals(result.interview._id)){ %>
                            <% result_found= true; %>
                        <!-- if result  found in the databse show result value on button-->
                    <button data-id="<%= student._id %>" data-interview="<%= interviews._id %>"><%= result.result %></button>
                    <% break; %>
                    <%}%>

                        <% } %>
                        <!-- if result not found in the databse show "None" on button-->
                        <% if(!result_found){%>
                    <button data-id="<%= student._id %>" data-interview="<%= interviews._id %>">  None</button>
                      <%}%>
                </td>
            </tr>
            <% } %>
                </tbody>
        
        </table>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/js/students_in_interview.js"></script>
        <script>
        let elemList = $('.interview-result>button');
            for (let e of elemList) {
                new interviewResult(e);
            }
        </script>
</html>